.about {
  text-decoration: none;
  color: black;
}
.about:hover {
  color: rgb(222, 44, 44);
  cursor: pointer;

}

#about {
  width: 200px;
  height: 100px;
  background-color: rgb(227, 227, 227);

  position: absolute;
  left: 480px;
  top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 8px;
  padding-left: 30px;
  border-radius: 4px;
  font-size: 19px;
  
  
}

.Us {
  color: black;
  text-decoration: none;
}
